.App {
  
  text-align: center;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap:1rem;
}

img {
  margin:0 2rem 2rem 0;
}

.boton {
  background-color: blue;
  color: white;
  transition: background, color 300ms ease-in-out 100ms;
  font-size: 1em;
/* -webkit-transition: ;
-moz-transform: ; */
    
}
.boton:hover{
background-color:lightblue;
color: blue;
font-size: 1.05em;

}
.boton2 {
  transition: all, 300ms ease-in-out 100ms;
  -webkit-transition: all, 300ms ease-in-out 100ms;
  -moz-transition: all, 300ms ease-in-out 100ms;
  
}
.boton2:hover{
  background-color:lightblue;
  color: blue;
  font-size: 1.05em;
  transform: translate(50px,0);
  }

h1 {
  grid-column: 2/11;
  font-family: 'Charm', cursive, sans-serif;
  font-weight: 700;
  transform: translateY(-1.5rem);
}

h2 {
  grid-column: 2/11;
  font-family: 'Charm', cursive, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
h2>p {
  margin-bottom: 0;
}
h3 {
  grid-column: 2/11;
  font-family: 'Charm', cursive;
  font-weight: 700;
}

h4 {
  font-family: 'Charm', cursive;
  font-weight: 700;
}

.cuerpo {
  grid-column: 2/11;
  margin-bottom: 2rem;
}

.menu {
  position: fixed;
  left: 0;
  height: 90vh;
  width: 250px;
  font-family: 'Charm', cursive;
  font-weight: 700;
  font-size: 1.2em;
  text-align: start;
  background-color: rgba(64,64,64,0.8);
  border-top-right-radius:50px;
  border-bottom-right-radius:50px ;
  transform: translateX(-235px);
  margin: 2rem 0;
  transition: all 0.3s ease-in-out;
}
i {
  padding: 0 1rem;
  color: #404040;
  transition: all 0.5s ease-in-out;
}
i:hover{
  color: blue;
}
.menu:hover {
  transform: translateX(-5px);
  transition: all 0.3s ease-in-out;
}

.menu ol li {
  padding: 0.5rem 0.5rem;
  color: rgb(154,154,154);
}
.menu ol li a {
  padding: 0.5rem 0.5rem;
  color: rgb(154,154,154);
}
.menu ol li a:hover {
  color: rgb(200 ,200,200);
}
.menu>ol:first-child{
  padding-top:1rem ;
  display: block;

}
.marco {
  border:1px solid #909090 ;
}
.marco li{
  text-align: justify;
}
a {
  transition: all 0.3s ease-in-out;
}

a:hover {
  color:blue;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#title {
  color:darkblue;
  border: 0.7rem double #909090;
  grid-column: 2/11;
  display: flex;
  flex-direction: column; 
  height: 40vh;
  background-image: url(./images/logocolor.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#gradient {
  background: linear-gradient(to right, red, blue, yellow);
  height: 2rem;
  color: white;
}
#gradient2 {
  background: linear-gradient(to bottom right, rgb(255,0,0),rgba(255,0,0,0) );
}
#gradient3 {
  background: linear-gradient(-60deg, rgb(0,0,255),rgba(0,0,255,0) );
  
}
#gradient4 {
  background: radial-gradient(rgba(0,255,0,0) 30%, rgb(0,255,0), rgb(0,120,255));
  height: 15rem;
}
#marginborderpadding {
  border: 1rem solid darkblue;
  margin: 30px;
  padding: 20px;
  display: inline-block;
}
#boxmarginborderpadding {
  border: 0.5rem solid red;
  margin-right: 1rem;
  
}
#content {
  border: 1px solid black;
}
#flexboxcontainer {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin-right: 1rem;
  min-height: 30vh;
  justify-content:space-evenly;
  align-items: center;
}
#box1 {
  color: #404040 ;
  margin:1rem;
  flex-basis: 50px;
  flex-grow: 1;
  flex-shrink: 6;
  flex: 1 6 50px;
  border: 1px solid black;
}
.animationcode{
  width: 60%;
  border: 1px solid black;
  display: inline-block;
  margin: 0 2rem 0 0;
}
.animationbox {
  
  width: 30%;
  border: 1px solid black;
  height: 220px;
  display: inline-block;
  
}
.animacion {
  display: flex;
  align-items: center;
}
#movimiento{
  background-color:blue ;
  animation-name: animationBackGround;
  animation-duration:  8s;
  animation-timing-function: ease; 
  animation-delay: 200ms; 
  animation-iteration-count: 2; 
  animation-direction:alternate-reverse;
  animation: animationBackGround 8s linear 0s infinite alternate-reverse;
}
@keyframes animationBackGround {
  0% {
    background-color: blue;
    transform: translate(0px,0px);
  }

  20% {
    background-color: green;
    transform: translate(-50px,50px);
  }

  40%{
    background-color: yellow;
    transform: translate(0px,100px);
  }
  60%{
    background-color: orange;
    transform: translate(50px,50px);
  }
  80%{
    background: red;
    transform: translate(0px,0px);
  }
  
}
.efecto__animacion__contenido {
 
  animation: submenu;
  animation-duration: 0.5s;
}
#highlighter {
  display: block;
  overflow-x: scroll;

}
.efecto__animacion__contenido li{
  padding-right: 0.5rem;
}
/*tarea, mirar modo movil, como cambiar el layout si 2 boxes colapsan*/
.menu2{
  visibility: hidden;
  height:0;
}
.btn {
  position: fixed;
  z-index: 2;
  top: 2rem;
  left: 50vw;
  height: 1.4rem;
  width:1.4rem;
  cursor: pointer;
  background: #404040;
  border-radius: 100%;
  padding: 0.3rem;
  border: 1px solid rgba(154,154,154,0.9);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  transform: translateX(-47vw);
}



.btn-menu {
  position: absolute;
  top:1rem;
  left:0.5rem;
  width: 15px;
  height: 2px;
  background: rgb(154,154,154);
  transition: all 0.5s ease-in-out;
 }

.btn-menu::before{
  position: absolute;
  content: '';
  top: -0.5rem;
  left: 0rem;
  width: 15px;
  height: 2px;
  background: rgb(154,154,154);
  transition: all 0.5s ease-in-out;
}

.btn-menu::after{
  position: absolute;
  content:'';
  top:0.5rem;
  left: 0;
  width: 15px;
  height: 2px;
  background: rgb(154,154,154);
  transition: all 0.5s ease-in-out;
}

.btn__open {
  visibility: hidden;
}

iframe {
  margin-top: 4rem;
}

#divlink {
  width: 100%;
  height: 29vh;
  transform: translateY(-2rem);
}

.menu2__open {
  visibility: hidden;
}

@media screen and (max-width: 620px) {
    
    h1{
      transform: translateY(0);
    }

    .menu {
     visibility: hidden;
     display: none;
    }
    .btn{
      visibility: visible;
      transition: all 0.5s ease-in-out;
    }
    .btn__open {
      visibility: visible;
      transform: translate(-2vw);
      position: fixed;
  z-index: 2;
  left: 50vw;
  top: 2rem;
  height: 1.4rem;
  width:1.4rem;
  cursor: pointer;
  background: rgba(154,154,154,0.9);
  border-radius: 100%;
  padding: 0.3rem;
  border: 1px solid #404040;
  transition: all 0.5s ease-in-out;
     
    }
    .menu2 {
      visibility: visible;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color:rgba(64,64,64,0.9);
      z-index: 1;
      justify-content: space-around;
      text-align: center;
      transform: translateY(800vh);
      transition: all 0.6s ease-in-out;
     }
     .menu2__open {
      overflow-y: scroll;
      transform: translateY(0);
      visibility: visible;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color:rgba(64,64,64,0.9);
      z-index: 1;
      justify-content: space-around;
      text-align: center;
      transition: all 0.5s ease-in-out;
     }

     .menu2 ol{
      list-style: none;
      margin-top: 5rem;
      transition: all 0.5s ease-in-out;
    }

     .menu2__open ol{
       list-style: none;
       margin-top: 5rem;
       padding-right: 1.5rem;
       transition: all 0.5s ease-in-out;
     }

     .menu2 ol li{
      background-color:rgba(154,154,154,0.9);
      transform: translateY(100vh);
      width: 80%;
      margin: 1rem;
      padding: 1rem;
      transition: all 0.5s ease-in-out;
    }
     .menu2__open ol li{
      background-color:rgba(154,154,154,0.9);
      transform: translateY(0);
      width: 80%;
      margin: 1rem;
      padding: 1rem;
      transition: all 0.5s ease-in-out;
    }

   
    .menu2__open ol li ul li{
      background-color:rgba(220,220,220,0.9);
      width: 70%;
      margin: 0.5rem;
      
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
     }

    
    .btn-menu__open {
      position: absolute;
      top:1rem;
      left:0.5rem;
      width: 15px;
      height: 2px;
      background: transparent;
      transition: all 0.5s ease-in-out;
     }
    
    .btn-menu__open::before{
      position: absolute;
      content: '';
      top: -0.5rem;
      left: 0rem;
      width: 15px;
      height: 2px;
      background: #404040;

      transform: translate(0rem,0.5rem)
      rotate(765deg);
      
      transition: all 0.5s ease-in-out;
    }
    
    .btn-menu__open::after{
      position: absolute;
      content:'';
      top:0.5rem;
      left: 0;
      width: 15px;
      height: 2px;
      background: #404040;
      transform: translate(0rem, -0.5rem)
      rotate(-765deg);
      transition: all 0.5s ease-in-out;
    }

    .menu2__open ol :nth-child(1){
    transition-delay: 0.1s;  
    }

    .menu2__open ol :nth-child(2){
      transition-delay: 0.2s;  
      }
    .menu2__open ol :nth-child(3){
      transition-delay: 0.3s;  
    }
    .menu2__open ol :nth-child(4){
      transition-delay: 0.4s;  
    }
    .menu2__open ol :nth-child(5){
       transition-delay: 0.5s;  
    }
    .menu2__open ol :nth-child(6){
      transition-delay: 0.6s;  
    }
    .menu2__open ol :nth-child(7){
      transition-delay: 0.7s;  
   }
   .menu2__open ol :nth-child(8){
     transition-delay: 0.8s;  
   }
   .menu2__open ol :nth-child(9){
    transition-delay: 0.9s;  
  }
  .menu2__open ol :nth-child(10){
   transition-delay: 1s;  
  }

  .menu2__open ol :nth-child(11){
    transition-delay: 1.1s;  
  }
  .menu2__open ol :nth-child(12){
    transition-delay: 1.2s;  
  }

    #a0 {
      animation: submenu;
      animation-duration: 0.5s;
    }
    #a1 {
      animation: submenu;
      animation-duration: 0.7s;
    }
    #a2 {
      animation: submenu;
      animation-duration: 0.9s;
    }
    #a3 {
      animation: submenu;
      animation-duration: 1.1s;
    }
    #a4 {
      animation: submenu;
      animation-duration: 1.3s;
    }
    #a5 {
      animation: submenu;
      animation-duration: 1.5s;
    }
    #a6 {
      animation: submenu;
      animation-duration: 1.7s;
    }
    #a7 {
      animation: submenu;
      animation-duration: 1.9s;
    }
    #a8 {
      animation: submenu;
      animation-duration: 2.1s;
    }
    #a9 {
      animation: submenu;
      animation-duration: 2.3s;
    }
    #a10 {
      animation: submenu;
      animation-duration: 2.4s;
    }
    iframe {
      width:330px;
      height: 190px ;
    }
    .imgHTML {
      width: 250px;
      height: 132px;
      padding: 1rem;
    }
}
@media screen and (max-width: 400px) {
  iframe {
    width:300px;
    height: 170px ;
  }
  #highlighter {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1024px) {
  iframe {
    width:600px;
    height: 340px ;
  }
  #highlighter {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1300px) {
  iframe {
    width:800px;
    height: 450px ;
  }

  .menu ol>li{
    font-size: 1.3em;
  }
  #highlighter {
    font-size: 1.3em;
  }
  .menu {
    width: 300px;
    transform: translateX(-285px);
  }
}
@keyframes submenu {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}