.App {
  
  text-align: center;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap:1rem;
}

img {
  margin:0 2rem 2rem 0;
}

.boton {
  background-color: blue;
  color: white;
  transition: background, color 300ms ease-in-out 100ms;
  font-size: 1em;
/* -webkit-transition: ;
-moz-transform: ; */
    
}
.boton:hover{
background-color:lightblue;
color: blue;
font-size: 1.05em;

}
.boton2 {
  transition: all, 300ms ease-in-out 100ms;
  -webkit-transition: all, 300ms ease-in-out 100ms;
  -moz-transition: all, 300ms ease-in-out 100ms;
  
}
.boton2:hover{
  background-color:lightblue;
  color: blue;
  font-size: 1.05em;
  transform: translate(50px,0);
  }

h1 {
  grid-column: 2/11;
  font-family: 'Charm', cursive, sans-serif;
  font-weight: 700;
}

h2 {
  grid-column: 2/11;
  font-family: 'Charm', cursive, sans-serif;
  font-weight: 700;
}
h3 {
  grid-column: 2/11;
  font-family: 'Charm', cursive;
  font-weight: 700;
}

h4 {
  font-family: 'Charm', cursive;
  font-weight: 700;
}

.App div:hover {
  border: 1px solid black;
}

.cuerpo {
  grid-column: 2/11;
  margin-bottom: 2rem;
}

.menu {
  grid-column: 1/2;
  height: 70vh;
  grid-row: 4;
  font-family: 'Charm', cursive;
  font-weight: 700;
  text-align: start;
}

.marco {
  border:1px solid #909090 ;
}
.marco li{
  text-align: justify;
}
a:hover {
  color:blue;
  cursor: pointer;
}

#title {
  color:darkblue;
  border: 0.7rem double #909090;
  grid-column: 2/11;
  display: flex;
  flex-direction: column;
}
#title img{
  display: inline-block;
  margin:0 1rem 2rem 1rem;
 }
#gradient {
  background: linear-gradient(to right, red, blue, yellow);
  height: 2rem;
  color: white;
}
#gradient2 {
  background: linear-gradient(to bottom right, rgb(255,0,0),rgba(255,0,0,0) );
}
#gradient3 {
  background: linear-gradient(-60deg, rgb(0,0,255),rgba(0,0,255,0) );
  
}
#gradient4 {
  background: radial-gradient(rgba(0,255,0,0) 30%, rgb(0,255,0), rgb(0,120,255));
  height: 15rem;
}
#marginborderpadding {
  border: 1rem solid darkblue;
  margin: 30px;
  padding: 20px;
  display: inline-block;
}
#boxmarginborderpadding {
  border: 0.5rem solid red;
  margin-right: 1rem;
  
}
#content {
  border: 1px solid black;
}
#flexboxcontainer {
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  margin-right: 1rem;
  min-height: 30vh;
  justify-content:space-evenly;
  align-items: center;
}
#box1 {
  color: #404040 ;
  margin:1rem;
  flex-basis: 50px;
  flex-grow: 1;
  flex-shrink: 6;
  flex: 1 6 50px;
  border: 1px solid black;
}
.animationcode{
  width: 60%;
  border: 1px solid black;
  display: inline-block;
  margin: 0 2rem 0 0;
}
.animationbox {
  
  width: 30%;
  border: 1px solid black;
  height: 220px;
  display: inline-block;
  
}
.animacion {
  display: flex;
  align-items: center;
}
#movimiento{
  background-color:blue ;
  animation-name: animationBackGround;
  animation-duration:  8s;
  animation-timing-function: ease; 
  animation-delay: 200ms; 
  animation-iteration-count: 2; 
  animation-direction:alternate-reverse;
  animation: animationBackGround 8s linear 0s infinite alternate-reverse;
}
@keyframes animationBackGround {
  0% {
    background-color: blue;
    transform: translate(0px,0px);
  }

  20% {
    background-color: green;
    transform: translate(-50px,50px);
  }

  40%{
    background-color: yellow;
    transform: translate(0px,100px);
  }
  60%{
    background-color: orange;
    transform: translate(50px,50px);
  }
  80%{
    background: red;
    transform: translate(0px,0px);
  }
  
}
/*tarea, mirar modo movil, como cambiar el layout si 2 boxes colapsan*/
.menu2{
  visibility: hidden;
}
.btn {
  position: fixed;
  z-index: 2;
  left: 0.5rem;
  top: 10rem;
  height: 1.4rem;
  width:1.4rem;
  cursor: pointer;
  background: #909090;
  border-radius: 100%;
  padding: 0.3rem;
  border: 1px solid #404040;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
}



.btn-menu {
  position: absolute;
  top:1rem;
  left:0.5rem;
  width: 15px;
  height: 2px;
  background: #404040;
  transition: all 0.5s ease-in-out;
 }

.btn-menu::before{
  position: absolute;
  content: '';
  top: -0.5rem;
  left: 0rem;
  width: 15px;
  height: 2px;
  background: #404040;
  transition: all 0.5s ease-in-out;
}

.btn-menu::after{
  position: absolute;
  content:'';
  top:0.5rem;
  left: 0;
  width: 15px;
  height: 2px;
  background: #404040;
  transition: all 0.5s ease-in-out;
}

.btn__open {
  visibility: hidden;
}

@media screen and (max-width: 620px) {
    #title img{
      width: 200px;
      height: 110px;
    }
    .menu {
     visibility: hidden;
    }
    .btn{
      visibility: visible;
      transition: all 0.5s ease-in-out;
    }
    .btn__open {
      visibility: visible;
      transform: translate(14.3rem,-5.5rem);
      position: fixed;
  z-index: 2;
  left: 0.5rem;
  top: 10rem;
  height: 1.4rem;
  width:1.4rem;
  cursor: pointer;
  background: #909090;
  border-radius: 100%;
  padding: 0.3rem;
  border: 1px solid #404040;
  transition: all 0.5s ease-in-out;
     
    }
    .menu2 {
      visibility: visible;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color:rgba(64,64,64,0.9);
      z-index: 1;
      justify-content: space-around;
      text-align: center;
      transform: translateY(100vh);
      transition: all 0.5s ease-in-out;
     }
     .menu2__open {
      transform: translateY(0);
      visibility: visible;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color:rgba(64,64,64,0.9);
      z-index: 1;
      justify-content: space-around;
      text-align: center;
      transition: all 0.5s ease-in-out;
     }


     .menu2__open ol{
       list-style: none;
       margin-top: 10rem;
       transition: all 0.5s ease-in-out;
     }

     .menu2__open ol li{
      background-color:rgba(154,154,154,0.9);
      width: 80%;
      margin: 1rem;
      padding: 1rem;
      transition: all 0.5s ease-in-out;
    }

    .menu2__open ol li ul li{
      background-color:rgba(220,220,220,0.9);
      width: 70%;
      margin: 0.5rem;
      padding: 0.5rem 0.5rem 0.5rem 1.5rem;
      transition: all 0.5s ease-in-out;
    }
    .btn-menu__open {
      position: absolute;
      top:1rem;
      left:0.5rem;
      width: 15px;
      height: 2px;
      background: transparent;
      transition: all 0.5s ease-in-out;
     }
    
    .btn-menu__open::before{
      position: absolute;
      content: '';
      top: -0.5rem;
      left: 0rem;
      width: 15px;
      height: 2px;
      background: #404040;

      transform: translate(0rem,0.5rem)
      rotate(765deg);
      
      transition: all 0.5s ease-in-out;
    }
    
    .btn-menu__open::after{
      position: absolute;
      content:'';
      top:0.5rem;
      left: 0;
      width: 15px;
      height: 2px;
      background: #404040;
      transform: translate(0rem, -0.5rem)
      rotate(-765deg);
      transition: all 0.5s ease-in-out;
    }
}